<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>购物车</title>
    <link rel="stylesheet" href="cart.css">
</head>
<body>
    <div id="app" v-cloak>
        <template v-if="list.length">
             <table>
                 <thead>
                     <tr>
                         <th>全选<input type="checkbox" @click="checkAll" v-model = "checkall"></th>
                         <th>图片</th>
                         <th>商品名称</th>
                         <th>商品单价</th>
                         <th>购买数量</th>
                         <th>操作</th>
                     </tr>
                 </thead>
                 <tbody>
                     <tr v-for="(item,index) in list">
                         <td><input type="checkbox" v-model = "item.checked"></td>
                         <!-- <td>{{index+1}}</td> -->
                         <td><img :src="item.img" alt=""></td>
                         <td class="te">{{item.name}}</td>
                         <td>{{item.price}}</td>
                         <td><button
                            @click="handleReduce(index)"
                            :disabled="item.count===1">-</button>
                            {{item.count}}
                            <button @click="handleAdd(index)">+</button>
                        </td>
                        <td>
                            <a href="#" @click="handleRemove(index)">删除</a>
                        </td>
                     </tr>
                 </tbody>
             </table>
             <div>选中 {{getCount}} 件商品 &nbsp; 总价：￥{{totalPrice}}</div>
        </template>
        <div v-else>购物车为空</div>
    </div>
    <script src="https://unpkg.com/vue/dist/vue.min.js"></script>
    <script src="cart.js"></script>
</body>
</html>