*{
      margin:0;
      padding:0;
  }
  .counter-btn{
      width:50px;
      height:20px;
      line-height:20px;
      background:#f00;
      color:#fff;
      text-align:center;
      position: absolute;
  }
  .left{
     left:25px;
  }
  .right{
    right:24px; 
    top:0;


  }
  .counter-show{
      width:50px;
      height:20px;
      margin:0 auto;    
  }
  .counter-component{
      margin:0 auto;
      width:200px;
      position: relative;   
  }